{% extends 'base.html' %}

{% block title %}¡Bienvenidos! {% endblock %}
{% block content %}
    <h1>¡¡Bienvenido a Django Templates Project!!</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus possimus ab est qui, labore cum reiciendis rem ut voluptatibus officiis vero reprehenderit, animi facilis pariatur obcaecati fugit, assumenda modi! Quos!
        Expedita totam illo, minus ipsa, voluptates libero quibusdam quaerat ducimus laudantium hic debitis earum dolorum veniam sapiente sint. Quam itaque modi porro voluptates impedit commodi laboriosam voluptatem numquam sequi molestiae!
        Dolores fuga suscipit iure, in soluta repudiandae, aperiam harum, ad quo dicta nisi perferendis quia porro. Recusandae magni consequatur fugit deserunt enim architecto amet, veritatis error iusto quos, cumque similique!
        Voluptatem deleniti ea, enim eum odio asperiores officiis nulla necessitatibus quisquam modi omnis eius magnam. Est ex, voluptatibus quisquam tempora eaque necessitatibus impedit sint facere laborum, sapiente repellendus? Tempore, nisi!
        Consequatur adipisci iste voluptas reprehenderit, illo culpa excepturi. Culpa fuga neque dolores eius, quia beatae voluptas at quis atque impedit illo perferendis dignissimos! Eaque, tempore laborum. Harum tenetur velit sint.
        Quod, eum repellendus molestiae inventore iure reiciendis ratione fugiat quis ad sit velit, error dolor ducimus, laudantium non. Et repellat assumenda impedit! Accusantium repellat exercitationem totam aliquam? Quas, assumenda nisi.
    </p>
{% endblock %}